#surveyQuestionsInfo, #php, #java, #ruby {
  display: none;
}
img {
  float: left;
  width: 120px;
  height: auto;
}
.definition-img{
  width: 250px;
  height: auto;
}
body {
    /* The image used */
    background-image: url('../img/main-img.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
